{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}Tableau de bord MOCHISKIN{% endblock %}

{% block main %}
    <h1>Bienvenue sur l'admin MOCHISKIN 🌸</h1>
    <p>Utilisez le menu à gauche pour gérer le contenu.</p>
{% endblock %}